 body {
        width: 100vw;
        height: 100vh;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      .swiper {
        width: 100%;
        height: 45%;
      }
      .swiper-slide {
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        
        /* Center slide text vertically */
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .text {
        width: 50% !important;
        height: 134px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        margin-left: 10%;
        object-fit: cover;
        z-index: 1;
      }
      .text h1 {
        font-family: Poppins;
        font-size: 3rem !important;
        color: white;
        font-weight: 600;
        line-height: 3.5rem !important;
      }
      
      .banner {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img1 {
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 10%, #00bcff 100%), url('https://images.pexels.com/photos/3771115/pexels-photo-3771115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .img2 {
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 10%, #00bcff 100%), url('https://images.pexels.com/photos/6958381/pexels-photo-6958381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .img3 {
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 10%, #00bcff 100%), url('https://images.pexels.com/photos/9891863/pexels-photo-9891863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .img4 {
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 10%, #00bcff 100%), url('https://images.pexels.com/photos/4099462/pexels-photo-4099462.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .swiper-pagination-bullet-active {
        background-color: #13aa1e;
      }
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
      .swiper-button-prev, .swiper-button-next {
        color: transparent;
        width: 45%;
      }
      /* Header */
      .header {
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#13aa1e;
      }
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
      }
      .content-header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        direction: row;
      }
      .logo {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
      }
      .logo img {
        width: 55%;
        height: 80%;
        border-radius: 90%;
      }
      .header-menu {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      .text-header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        transition: .3s;
    }
    .text-header:hover {
        background-color: #fff;
        color: #13aa1e;
    }
    .text-header a{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: inherit;
        
        scroll-behavior: smooth;
    }
      .icons {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: row;
        margin-left: 25%;
      }
      .user {
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFF;
        transition: .3s;
      }
      .search {
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFF;
        transition: .3s;
      }
      .user svg{
        width: 25px;
        height: 25px;
      }
      .search svg{
        width: 25px;
        height: 25px;
      }
      .user:hover {
        background-color: #fff;
        color: #13aa1e;
      }
      .search:hover {
        background-color: #fff;
        color: #13aa1e;
      }
      .content {
        padding-top: 40%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .content-text {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        flex-direction: column;
      }
      .content-text h2 {
        font-family: 'Poppins', sans-serif;
        color: #13aa1e;
        font-size: 35px;
        font-weight: 800;
      }
      .content-text h2:after {
        content: '';
        position: absolute;
        background: #13aa1e;
        width: 12%;
        height: 4px;
        margin-top: 55px;
        left: 205px;
      }
      .content-text p {
        font-family: 'Poppins', sans-serif;
        color: rgb(48, 48, 48);
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
      }
      .content-img {
        width: 70%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
      }
      .content-img img {
        width: 100%;
        height: 100%;
      }
      strong {
        color: #337ab7;
        font-weight: 900;
      }
      #chartdiv {	
         width		: 100%;
        height		: 500px;
        background-color: #13aa1e;  
      }
      .amcharts-graph-g .amcharts-graph-stroke {
        stroke-dasharray: 3px 3px;
        stroke-linejoin: round;
        stroke-linecap: round;
        -webkit-animation: am-moving-dashes 1s linear infinite;
        animation: am-moving-dashes 1s linear infinite;
      }
      .amcharts-chart-div > a {
        display: none !important;
      }
      @-webkit-keyframes am-moving-dashes {
        100% {
          stroke-dashoffset: -31px;
        }
      }
      @keyframes am-moving-dashes {
        100% {
          stroke-dashoffset: -31px;
        }
      }
      
      
      .lastBullet {
        -webkit-animation: am-pulsating 1s ease-out infinite;
        animation: am-pulsating 1s ease-out infinite;
      }
      @-webkit-keyframes am-pulsating {
        0% {
          stroke-opacity: 1;
          stroke-width: 0px;
        }
        100% {
          stroke-opacity: 0;
          stroke-width: 50px;
        }
      }
      @keyframes am-pulsating {
        0% {
          stroke-opacity: 1;
          stroke-width: 0px;
        }
        100% {
          stroke-opacity: 0;
          stroke-width: 50px;
        }
      }
      
      .amcharts-graph-column-front {
        -webkit-transition: all .3s .3s ease-out;
        transition: all .3s .3s ease-out;
      }
      .amcharts-graph-column-front:hover {
        fill-opacity: .8;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
      }
      .amcharts-graph-g2, .amcharts-graph-g3, .amcharts-graph-g8  {
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-dasharray: 500%;
        stroke-dasharray: 0 \0;    /* fixes IE prob */
        stroke-dashoffset: 0 \0;   /* fixes IE prob */
        -webkit-animation: am-draw 40s;
        animation: am-draw 40s;
      }
      @-webkit-keyframes am-draw {
          0% {
              stroke-dashoffset: 500%;
          }
          100% {
              stroke-dashoffset: 0%;
          }
      }
      @keyframes am-draw {
          0% {
              stroke-dashoffset: 500%;
          }
          100% {
              stroke-dashoffset: 0%;
          }
      }
                      